.logo {
   text-align: center;

   font-size: 32px;
   font-weight: 700;

   margin-bottom: 30px;

   cursor: pointer;
}

@media screen and (max-width: 550px) {
   .logo {
      font-size: 24px;
   }
}
